<h2>Welcome to PizzaShop!</h2>
<div class="row">
	<% @products.each do |p| %>
			<div class="col-md-3">
				<div class=""><%= p.title %></div>
				<div class=""><img src="<%= p.path_to_image %>" alt=""></div>
				<div class=""><%= p.description %></div>
				<div class="">
					Size: <%= p.size%> cm
				</div>
				<div class="">
					Price: <%= p.price%> rub
				</div>
				<button type="button" class="btn btn-primary btn-sm btn-success" onclick="add_to_cart(<%= p.id%>)">Add to cart</button>
			</div>
	<% end %>
</div>

<script type="text/javascript">
$(function() {
	update_orders_input();
});
</script>